{% extends 'base.html' %} {% block content %}
<script src="{{ url_for('static', filename='hebdo.js')}}" crossorigin="anonymous" defer></script>

<div class="d-flex flex-column align-items-center">
    <h1 class="fw-bolder display-3 my-5"><strong>Mes Séances Moniteurs</strong></h1>

    <div class="d-flex justify-content-center">
        <form action="{{ url_for('ajout_seance') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="mx-auto d-flex flex-column m-4 w-50">
                {{ form.hebdomadaire_seance.label(class="form-label") }} {{
                form.hebdomadaire_seance(class="form-check-input", id="hebdo") }}
            </div>
            <div class="mx-auto d-flex flex-column m-4 w-50" id="jour_seance">
                {{ form.jour_seance.label(class="form-label") }} {{ form.jour_seance(class="form-control") }}
                <p>Du</p>
                {{ form.date_debut_seance(class="form-control") }}

                <p>Au</p>
                {{ form.date_fin_seance(class="form-control") }}
            </div>
            <div class="mx-auto d-flex flex-column m-4 w-50" id="semaine_seance">
                {{ form.semaine_seance.label(class="form-label") }} {{ form.semaine_seance(class="form-control") }}
            </div>

            <div class="mx-auto d-flex flex-column m-4 w-50">
                {{ form.heure_debut_seance.label(class="form-label") }} {{ form.heure_debut_seance(class="form-control")
                }}
            </div>

            <div class="mx-auto d-flex flex-column m-4 w-50">
                {{ form.heure_fin_seance.label(class="form-label") }} {{ form.heure_fin_seance(class="form-control") }}
            </div>

            <div class="mx-auto d-flex flex-column m-4 w-50">
                {{ form.nb_places_seance.label(class="form-label") }} {{ form.nb_places_seance(class="form-control") }}
            </div>

            <div class="mx-auto d-flex flex-column m-4 w-50">
                {{ form.moniteur_id.label(class="form-label") }} {{ form.moniteur_id(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>

    {% endblock %}
</div>
