{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="fw-bolder display-3 text-center my-5"><strong>Mes Séances Moniteurs</strong></h1>

    <div class="d-flex justify-content-center">
        <form action="{{ url_for('ajout_seance') }}" method="post" class="p-4 border rounded shadow-sm bg-light w-50">
            {{ form.hidden_tag() }}

            <div class="mb-4">
                {{ form.jour_seance.label(class="form-label fw-bold") }}
                {{ form.jour_seance(class="form-control rounded-3") }}
            </div>

            <div class="mb-4">
                {{ form.heure_debut_seance.label(class="form-label fw-bold") }}
                {{ form.heure_debut_seance(class="form-control rounded-3") }}
            </div>

            <div class="mb-4">
                {{ form.heure_fin_seance.label(class="form-label fw-bold") }}
                {{ form.heure_fin_seance(class="form-control rounded-3") }}
            </div>

            <div class="mb-4">
                {{ form.nb_places_seance.label(class="form-label fw-bold") }}
                {{ form.nb_places_seance(class="form-control rounded-3") }}
            </div>

            <div class="mb-4">
                {{ form.moniteur_id.label(class="form-label fw-bold") }}
                {{ form.moniteur_id(class="form-control rounded-3") }}
            </div>

            <div class="text-center">
                {{ form.submit(class="couleur-btn") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
