{% extends 'connexion-base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-start"> <!-- Modifier align-items-center à align-items-start et retirer min-vh-100 -->
    <div class="card p-3 shadow-lg rounded-4 mt-1" style="width: 100%; max-width: 500px;"> <!-- Modifier mt-2 à mt-1 -->
        <h1 class="text-center mb-4 plc-colored">Connexion</h1>

        <form action="{{ url_for('login') }}" method="post">
            {{ form.hidden_tag() }}
            
            <div class="mb-3">
                <label class="form-label plc-colored" for="email">{{ form.email.label }}</label>
                {{ form.email(size=50, placeholder="Entrer votre adresse e-mail", class="form-control rounded-3") }}
            </div>
            
            <div class="mb-3">
                <label class="form-label plc-colored" for="password">{{ form.mot_de_passe.label }}</label>
                {{ form.mot_de_passe(size=50, placeholder="Entrer votre mot de passe", class="form-control rounded-3") }}
            </div>

            <!-- Mot de passe oublié non gérer
            <div class="mb-3">
                <a class="btn btn-link fst-italic" href="{{ url_for('mdp_oublie') }}">*Mot de passe oublié</a>
            </div>
            -->

            <div class="d-grid gap-2">
                <button class="btn couleur-btn fw-bolder" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}