{% extends 'base.html' %} {% block content %}
<form method="post" action="{{ url_for('contacter') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="color_white mb-3 form-group">
        {{ form.concerne.label(class="mb-3") }}
        {{ form.concerne(size=50, placeholder="Concernés",class="rounded-3") }}
    </div>
    <div class="color_white mb-3 form-group">
        {{ form.sujet.label(class="mb-3") }}
        {{ form.sujet(size=50, placeholder="Sujet",class="rounded-3") }}
    </div>
    <div class="color_white mb-3 form-group">
        {{ form.contenu.label(class="mb-3") }}
        {{ form.contenu(size=50, placeholder="Contenu",class="rounded-3") }}
    </div>
    <div class="d-flex justify-content-center mb-3 form-group">
        {{ form.submit }}
    </div>
</form>
{% endblock %}