{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <form method="post" action="{{ url_for('contacter') }}" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            {{ form.concerne.label(class="form-label fw-bold") }}
            {{ form.concerne(class="form-select rounded-3", style="max-height: 200px; overflow-y: auto;") }}
        </div>
        
        <div class="mb-3">
            {{ form.sujet.label(class="form-label fw-bold") }}
            {{ form.sujet(size=50, placeholder="Sujet", class="form-control rounded-3") }}
        </div>

        <div class="mb-3">
            {{ form.contenu.label(class="form-label fw-bold") }}
            {{ form.contenu(size=50, placeholder="Message", class="form-control rounded-3") }}
        </div>

        <div class="text-center d-flex justify-content-start">
            {{ form.submit(class="couleur-btn") }}
        </div>
    </form>
</div>
{% endblock %}
