<!DOCTYPE html>
<html lang="fr">
    {% block styles-footer %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    {% block footer %}
    <footer>
        <div>
            <h2>Contact</h2>
        </div>
        <div>
            <label>Adresse: </label>
            <label>Rue d'Issoudun, 45067 Orléans cedex 02</label>
        </div>
        <div>
            <h2>Email:</h2>
        </div>
        <div>
            <label>exemple@gmail.com</label>
        </div>
    </footer>
    {% endblock %}
</html>