{% extends 'base.html' %} {% block content %}
<h1 class="fw-bolder display-3 my-5"><strong>Les Poneys</strong></h1>

<div class="container mt-5">
    <ul>
        {% for poney in poneys %}
        <li>
            <p>{{ poney.nom_poney }}</p>
            <a href="/home/poneys/{{ poney.id_poney }}" class="btn btn-primary">Voir</a>
            <a href="/home/poneys/{{ poney.id_poney }}/modifier" class="btn btn-warning">Modifier</a>
            <a href="/home/poneys/{{ poney.id_poney }}/supprimer" class="btn btn-danger">Supprimer</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
