{% extends 'base.html' %} {% block content %}
<h1 class="fw-bolder display-3 my-5"><strong>Les Poneys</strong></h1>

<div class="container mt-5">
    {% for poney in poneys %}
    <div class="container mt-5 shadow p-3 mb-2 bg-white rounded">
        <h2>{{ poney.nom_poney }}</h2>
        <p>Son poid est de {{ poney.capacite_poney }} grammes</p>
        <a href="{{ url_for('poney', id_poney=poney.id_poney)}}" class="btn btn-warning">Modifier</a>
        <a href="{{ url_for('del_poney', id_poney=poney.id_poney)}}" class="btn btn-danger">Supprimer</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
